In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (0.2.36)
Requirement already satisfied: pandas>=1.3.0 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\elton.duarte\appdata\local\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [2]:
import yfinance as y

In [5]:
petrobras = y.download('petr4.sa', period= '3y')

[*********************100%%**********************]  1 of 1 completed

In [6]:
petrobras.head()

                 Open       High        Low  Close  Adj Close    Volume
Date
2021-08-23  26.940001  27.309999  26.770000  27.02  10.238599  70161500
2021-08-24  27.290001  27.629999  27.240000  27.58  10.450798  49831400
2021-08-25  27.629999  27.830000  27.379999  27.73  10.507634  46031200
2021-08-26  27.580000  27.879999  27.469999  27.49  10.416693  41061300
2021-08-27  27.700001  28.490000  27.670000  28.49  10.795620  76465300

In [8]:
[indice for indice in petrobras.index][0:10]

[Timestamp('2021-08-23 00:00:00'),
 Timestamp('2021-08-24 00:00:00'),
 Timestamp('2021-08-25 00:00:00'),
 Timestamp('2021-08-26 00:00:00'),
 Timestamp('2021-08-27 00:00:00'),
 Timestamp('2021-08-30 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2021-09-03 00:00:00')]

In [17]:
df1 = petrobras

In [19]:
df1.loc[df1.index == '2021-08-23']

                 Open       High    Low  Close  Adj Close    Volume
Date
2021-08-23  26.940001  27.309999  26.77  27.02  10.238599  70161500

In [23]:
df1.loc[df1.index.year == 2021]

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-08-23  26.940001  27.309999  26.770000  27.020000  10.238599  70161500
2021-08-24  27.290001  27.629999  27.240000  27.580000  10.450798  49831400
2021-08-25  27.629999  27.830000  27.379999  27.730000  10.507634  46031200
2021-08-26  27.580000  27.879999  27.469999  27.490000  10.416693  41061300
2021-08-27  27.700001  28.490000  27.670000  28.490000  10.795620  76465300
...               ...        ...        ...        ...        ...       ...
2021-12-23  28.330000  28.420000  28.150000  28.330000  12.059264  28713600
2021-12-27  28.320000  28.780001  28.150000  28.750000  12.238046  44227900
2021-12-28  29.010000  29.280001  28.700001  28.780001  12.250818  30688100
2021-12-29  28.700001  28.900000  28.420000  28.540001  12.148656  35508400
2021-12-30  28.549999  28.700001  28.389999  28.450001  12.110345  43229100

[89 rows x 6 columns]

In [28]:
# Cria uma coluna e preenche ela

df1['dia_semana'] = df1.index.day_name()

In [32]:
df1.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=751)